<br>
<h1>Stupid Coaching</h1>
<div class="que">
<p><%= @answer %></p>
<p>-You</p>
</div>

<br>

<div class="ans">
<p><%= @coach_answer %></p>
<p>-Your coach</p>
</div>

<br>

<%= link_to "Ask your coach another question", ask_path%>
